################################################################
#  The Standard Library for ALAN Interactive Fiction Language  #
#  https://github.com/AnssiR66/AlanStdLib                      #
################################################################

root = true

# ==============================================================================
#                               ALAN RELATED FILES
# ==============================================================================

# ALAN sources and solution files (edited):
[*.{alan,i,a3s}]
charset = utf-8-bom
end_of_line = unset
indent_style = space
indent_size = unset
trim_trailing_whitespace = true
insert_final_newline = true

# ALAN transcripts (generated:
[*.a3t]
charset = utf-8
end_of_line = unset
indent_style = space
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset
; exceptions:
[lib_tests/misc/meta-verbs.a3t]
charset = utf-8-bom


# ==============================================================================
#                             ASCIIDOCTOR TOOLCHAIN
# ==============================================================================
# Asciidoctor and related assets of our build system...

## AsciiDoc
###########
[*.{adoc,asc,asciidoc}]
indent_size = unset
indent_style = space
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# ==============================================================================
#                                GENERIC SETTINGS
# ==============================================================================

## Ruby
#######
[{*.rb,*.gemspec,*.rake,Rakefile,rakefile}]
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
end_of_line = lf
indent_style = space
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab

[.gitkeep]
end_of_line = unset
insert_final_newline = unset


## Batch Scripts
################
[*.{bat,cmd}]
indent_style = space
indent_size = unset
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# EOF #
