################################################################
#  The Standard Library for ALAN Interactive Fiction Language  #
#  https://github.com/AnssiR66/AlanStdLib                      #
################################################################

root = true

# ==============================================================================
#                               ALAN RELATED FILES
# ==============================================================================

# Common settings for non-generated Alan files
# ============================================
; Skip encoding validation because of EClint's buggy support of this feature,
; leading to false positive error reports. (See #73)

[*.{alan,i,a3s}]
indent_style = space
indent_size = unset
charset = unset
trim_trailing_whitespace = true
insert_final_newline = true

# ==============================================================================
#                             ASCIIDOCTOR TOOLCHAIN
# ==============================================================================
# Asciidoctor and related assets of our build system...

## AsciiDoc
###########
[*.{ad,adoc,asciidoc}]
indent_size = unset
indent_style = space
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# ==============================================================================
#                                GENERIC SETTINGS
# ==============================================================================

## Repository Configurations
############################
[.{git*,editorconfig,*.yml}]
end_of_line = lf
indent_style = space
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[.gitmodules]
indent_style = tab

[.gitkeep]
end_of_line = unset
insert_final_newline = unset


## Batch Scripts
################
[*.{bat,cmd}]
indent_style = space
indent_size = unset
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Shell Scripts
################
[*.sh]
end_of_line = lf
indent_style = tab
indent_size = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


## Markdown GFM
###############
[*.md]
indent_style = space
indent_size = unset
end_of_line = unset
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# EOF #
