################################################################################
# The Standard Library for ALAN Interactive Fiction Language                   #
# https://github.com/AnssiR66/AlanStdLib                                       #
################################################################################

## ==========
## Alan Files
## ==========
*.a3c
*.ifid
*.log
*.sav
!tests/misc/meta-verbs_arun-different.sav
!StdLib/*.a3c
!StdLib/*.ifid

## =============
## AlanIDE Files
## =============
.project

## =================
## Trizbort Settings
## =================
appsettings.json

## ==========
## Sass Cache
## ==========
## In case someone still uses Ruby Sass:
.sass-cache/

## Misc Work Files
## ===============

# Temporary/backup or removed files and folders:
___*
___*.*

# Links and URLs
*.lnk
*.url

# Binary executables
*.exe
*.app
*.out


# ==============================================================================
#                              MISC IGNORE PATTERNS                             
# ==============================================================================
# Based on ".gitignore" created by:
# https://www.gitignore.io/api/windows,linux,macos,purebasic

## Linux
########

*~

# temp files if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

## macOS
########
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Windows
##########

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# <<< End of https://www.gitignore.io/api/windows,linux,macos,purebasic


