################################################################
#  The Standard Library for ALAN Interactive Fiction Language  #
#  https://github.com/AnssiR66/AlanStdLib                      #
################################################################

# Set Git's default behaviour to text-files autodetection, in case users don't
# have `core.autocrlf` set:
* text=auto

# ==============================================================================
#                               ALAN RELATED FILES
# ==============================================================================
[attr]Alan text linguist-language=Alan linguist-detectable=true

## Alan Sources
###############
*.alan   Alan
*.i      Alan
*.ifid   text linguist-generated=true
# UTF-8 converted Alan sources for Asciidoctor inclusion:
*.utf8_alan    text linguist-generated=true

## Alan Story-Files
###################
*.a3c   binary
*.a3r   binary
*.sav   binary

## Adventures Solutions & Transcripts
#####################################
*.a3sol   text linguist-detectable=false
*.a3log   text linguist-generated=true
*.log     text linguist-generated=true

## AlanIDE Files
################
.project   text linguist-language=XML linguist-generated=true

# ==============================================================================
#                             ASCIIDOCTOR TOOLCHAIN
# ==============================================================================
# Asciidoctor and related assets of our build system...

## Asciidoctor
##############
*.adoc       text
*.asciidoc   text
*.csv        text
*.dsv        text
*.haml       text
*.rb         text

## HTML Backend
###############
*.htm      text         linguist-generated=true
*.html     text         linguist-generated=true
*.css      text eol=lf  linguist-generated=true
*.js       text         linguist-vendored=true


# SASS/SCSS:
*.sass   text
*.scss   text

## Third Party Tools File Formats
#################################
# Dia Diagram Editor: http://dia-installer.de
*.dia    binary
# ColorImpact 4 palettes: http://www.tigercolor.com
*.cifc   binary

# ==============================================================================
#                                GENERIC SETTINGS
# ==============================================================================

## Repository Configuration
###########################
.editorconfig    text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf

## Shell/CMD Scripts
####################
*.bat   text eol=crlf
*.com   text eol=crlf
*.sh    text eol=lf
*.sed   text eol=lf

## Documentation
################
*.markdown   text
*.md         text
*.odt        binary
*.txt        text
COPYING      text
LICENSE      text

## Archives
###########
*.7z    binary
*.gz    binary
*.jar   binary
*.rar   binary
*.tar   binary
*.zip   binary

## Graphics
###########
*.ai     binary
*.bmp    binary
*.eps    binary
*.gif    binary
*.ico    binary
*.jng    binary
*.jp2    binary
*.jpg    binary
*.jpeg   binary
*.jpx    binary
*.jxr    binary
*.png    binary
*.psb    binary
*.psd    binary
*.svg    binary
*.svgz   binary
*.tif    binary
*.tiff   binary
*.wbmp   binary
*.webp   binary

# ==============================================================================
#                             Git Archive Exclusions
# ==============================================================================
# Define patterns to selectively exclude maintainers' files and folders from the
# Zip archives downloadable from GitHub (releases and download button).
# End users only interested in the actual Library will get just the needed files.

## Git files/folders
####################
/.git/          export-ignore
.gitattributes  export-ignore
.gitconfig      export-ignore
.gitignore      export-ignore
.gitmodules     export-ignore

## Developer folders
#####################
/_assets/        export-ignore
/_assets_src/    export-ignore
/extras_src/    export-ignore
/tests/         export-ignore

## Build Scripts
################
*.bat   export-ignore
*.sh    export-ignore

## Developer and source documents
#################################
# Docs destined to end uesers will be converted to HTML.
*.md         export-ignore
*.asciidoc   export-ignore
*.adoc       export-ignore

# EOF #
