//  v1.0.0 (2018-12-16) by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                            Alan Syntax Theme                              *
// *                                                                           *
// *****************************************************************************

// -----------------------------------------------------------------------------
// Color Scheme: Base16 Eighties
// -----------------------------------------------------------------------------
$HL-CanvasBG:           $Eighties-00; // Mine Shaft ( black )
$HL-Default:            $Eighties-05; // Timberwolf ( gray )

$HL-Border:             $Eighties-04; // Lemon Grass ( mid grayish )

$HL-LineNum:            $Eighties-03; // Flint ( dark gray )

$HL-Number:             $Eighties-09; // Atomic Tangerine ( orange )
$HL-Escape:             $Eighties-09; // Atomic Tangerine ( orange )
$HL-Interpolation:      $Eighties-0F; // Raw Sienna ( brownish )
$HL-String:             $Eighties-0B; // Moss Green
$HL-Comment:            $Eighties-04; // Lemon Grass ( mid grayish )
$HL-Operator:           $HL-Default; // Timberwolf ( gray )
$HL-Keywords1:          $Eighties-08; // Froly ( red )
$HL-Keywords2:          $Eighties-0A; // Golden Tainoi ( yellow )
$HL-Keywords3:          $Eighties-0D; // Danube ( blue )

// -----------------------------------------------------------------------------
/* Highlight Theme for Alan */
// -----------------------------------------------------------------------------
.listingblock pre[class=highlight][lang=alan] {
    background-color: $HL-CanvasBG;
    &>code {
        color: $HL-Default;
        font-family: $FiraCode;
        font-size: 14px;
        letter-spacing: 1px;
    }
    // Border and padding
    border-radius: 4px;
    border: 1px solid $HL-Border;
    padding: 1em;
    
    // Some basic styling, just in case you need it...
    overflow: auto;

    .hl {
        color: $HL-Default;

        &.num {
            // Numbers
            // -------
            color: $HL-Number;
        }
        &.esc {
            // Escape sequences
            // ----------------
            // In Alan these are: $p, $n, $i, $t, $a, $l, $v and $$.
            color: $HL-Escape;
        }
        &.ipl {
            // Interpolation sequences
            // -----------------------
            // In Alan these are: $<n>, $+<n>, $0<n>, $-<n>, $!<n> and $o.
            color: $HL-Interpolation;
        }
        &.str {
            // Strings
            // ----------------------------
            color: $HL-String;
        }
        &.slc {
            // Single-line comments
            // --------------------
            color: $HL-Comment;
            font-style: italic;
        }
        &.lin {
            // Line numbers
            // ------------
            color: $HL-LineNum;
        }
        &.opt {
            // Operators
            // ---------
            color: $HL-Operator;
        }
        // ---------------------
        //    Keywords Groups
        // ---------------------
        &.kwa, &.kwb, &.kwc, &.kwd, &.kwe, &.kwf {
            font-weight: bold;
        }
        &.kwa {
            // Keywords group 1
            // ----------------
            // Alan Keywords.
            color: $HL-Keywords1;
        }
        &.kwb {
            // Keywords group 2
            // ----------------
            // Predefined Alan Classes.
            color: $HL-Keywords2;
        }
        &.kwc {
            // Keywords group 3
            // ----------------
            // Predefined Instances (i.e. the 'hero')
            color: $HL-Keywords3;
        }
    }

}
