//  v1.0.0 (2018-10-05) by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                         Color Schemes & Palettes                          *
// *                                                                           *
// *****************************************************************************

// =============================================================================
//                                Base16 Eighties                                
// =============================================================================
// Adapted from Chris Kempson's Base16 project (MIT License):
// https://github.com/chriskempson/base16-builder/blob/master/schemes/eighties.yml
// -----------------------------------------------------------------------------
$Eighties-00: #2D2D2D; // Mine Shaft          | black 1 - darker
$Eighties-01: #393939; // Tuatara             | black 2 - lighter
$Eighties-02: #515151; // Fuscous Gray        | gray 1  - darker
$Eighties-03: #747369; // Flint               | gray 2 
$Eighties-04: #A09F93; // Lemon Grass         | gray 3 
$Eighties-05: #D3D0C8; // Timberwolf          | gray 4 
$Eighties-06: #E8E6DF; // Cararra             | gray 5 
$Eighties-07: #F2F0EC; // Pampas              | gray 6  - lighter
$Eighties-08: #F2777A; // Froly               | red
$Eighties-09: #F99157; // Atomic Tangerine    | orange
$Eighties-0A: #FFCC66; // Golden Tainoi       | yellow
$Eighties-0B: #99CC99; // Moss Green          | green
$Eighties-0C: #66CCCC; // Downy               | cyan
$Eighties-0D: #6699CC; // Danube              | blue
$Eighties-0E: #CC99CC; // Lilac               | purple
$Eighties-0F: #D27B53; // Raw Sienna          | brownish
// =============================================================================
//                                Base16 Google                                 
// =============================================================================
// Adapted from Seth Wright's Base16 "Google" scheme (MIT License):
// https://github.com/chriskempson/base16-builder/blob/master/schemes/google.yml
// Seth Wright: http://sethawright.com
// -----------------------------------------------------------------------------
$Google-00: #1D1F21; // Shark                 | black 1 - darker
$Google-01: #282A2E; // Shark/Mine Shaft      | black 2
$Google-02: #373B41; // Mine Shaft            | black 3 - lighter
$Google-03: #969896; // Star Dust             | gray 1  - darker
$Google-04: #B4B7B4; // Silver                | gray 2 
$Google-05: #C5C8C6; // Silver Sand           | gray 3 
$Google-06: #E0E0E0; // Mercury               | gray 4  - lighter
$Google-07: #FFFFFF; // White                 | white
$Google-08: #CC342B; // Persian Red           | red
$Google-09: #F96A38; // Burning Orange        | orange
$Google-0A: #FBA922; // Yellow Sea            | yellow
$Google-0B: #198844; // Sea Green             | green
$Google-0C: #3971ED; // Royal Blue            | blue
$Google-0D: #3971ED; // Royal Blue            | blue
$Google-0E: #A36AC7; // Amethyst              | purple
$Google-0F: #3971ED; // Royal Blue            | blue

// Win/DOS CMD
// ---------------
// Legacy colors:
$CMD-old-BG:    #000000; // BLACK
$CMD-old-FG:    #C0C0C0; // DARK_WHITE
$CMD-old-White: #FFFFFF; // WHITE
// Modern colors:
$CMD-new-BG:    #0C0C0C; // BLACK
$CMD-new-FG:    #CCCCCC; // DARK_WHITE
$CMD-new-White: #F2F2F2; // WHITE

// EOF //
