//  v1.1.0 (2018/12/24) by Tristano Ajmone
// *****************************************************************************
// *                                                                           *
// *                         Highlight Default Theme                           *
// *                                                                           *
// *****************************************************************************
// This theme will be used for all languages that don't have a custom theme.

// -----------------------------------------------------------------------------
// Color Scheme: Base16 Eighties
// -----------------------------------------------------------------------------
$HL-CanvasBG:           $Google-07; // White
$HL-Default:            $Google-02; // Mine Shaft

$HL-Border:             $Google-06; // Mercury

$HL-LineNum:            $Google-03; // Star Dust

$HL-Number:             $Google-09; // Burning Orange
$HL-Escape:             $Google-09; // Burning Orange
$HL-Interpolation:      $Google-0F; // Royal Blue
$HL-String:             $Google-0B; // Sea Green
$HL-PreProcessor:       $Google-0E; // Amethyst
$HL-StringPreProc:      $Google-0C; // Royal Blue
$HL-BlockComment:       $Google-04; // Silver
$HL-LineComment:  $HL-BlockComment; // Silver
$HL-Operator:          $HL-Default; // Mine Shaft
$HL-Keywords1:          $Google-08; // Persian Red
$HL-Keywords2:          $Google-0A; // Yellow Sea
$HL-Keywords3:          $Google-0D; // Royal Blue
$HL-Keywords4:          $Google-0E; // Amethyst
$HL-Keywords5:          $Google-0C; // Royal Blue
$HL-Keywords6:          $Google-0F; // Royal Blue

// -----------------------------------------------------------------------------
/* Highlight Default Theme */
// -----------------------------------------------------------------------------
.listingblock code[data-lang]::before{
    // Color of language name (shown when hovering)
    color: $Google-04;
}

.listingblock pre[class="highlight"] {
    background-color: $HL-CanvasBG;
    &>code {
        color: $HL-Default;
        // font-family: $FiraCode;
        font-family: $Consolas;
        // font-size: 16px;
        // letter-spacing: 0.0625em; // 16 * 0.0625 = 1px
    }
    // Border and padding
    border-radius: 4px;
    border: 1px solid $HL-Border;
    padding: 1em;
    
    // Some basic styling, just in case you need it...
    overflow: auto;

    .hl {
        color: $HL-Default;

        &.num {
            // Numbers
            color: $HL-Number;
        }
        &.esc {
            // Escape sequences 
            color: $HL-Escape;
        }
        &.ipl {
            // Interpolation sequences 
            color: $HL-Interpolation;
        }
        &.str {
            // Strings
            color: $HL-String;
        }
        &.ppc {
            // Preprocessor directives
            color: $HL-PreProcessor;
        }
        &.pps {
            // Strings within preprocessor directives
            color: $HL-StringPreProc;
        }
        &.com {
            // Block comments
            color: $HL-BlockComment;
            font-style: italic;
        }
        &.slc {
            // Single-line comments
            color: $HL-LineComment;
            font-style: italic;
        }
        &.lin {
            // Line numbers 
            color: $HL-LineNum;
        }
        &.opt {
            // Operators
            color: $HL-Operator;
        }
        // ---------------------
        //    Keywords Groups
        // ---------------------
        &.kwa, &.kwb, &.kwc, &.kwd, &.kwe, &.kwf {
            font-weight: bold;
        }   
        &.kwa {
            // Keywords group 1
            color: $HL-Keywords1;
        }
        &.kwb {
            // Keywords group 2
            color: $HL-Keywords2;
        }
        &.kwc {
            // Keywords group 3
            color: $HL-Keywords3;
        }
        &.kwd {
            // Keywords group 4
            color: $HL-Keywords4;
        }
        &.kwde{
            // Keywords group 5
            color: $HL-Keywords5;
        }
        &.kwf {
            // Keywords group 6
            color: $HL-Keywords6;
        }
    }

}
