/* FiraCode font (with ligatures) */
@font-face {
  font-family: 'Fira Code';
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot");
  src: url("https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot") format("embedded-opentype"), url("https://unpkg.com/firacode/distr/woff2/FiraCode-Regular.woff2") format("woff2"), url("https://unpkg.com/firacode/distr/woff/FiraCode-Regular.woff") format("woff"), url("https://unpkg.com/firacode/distr/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
/* Highlight Default Theme */
.listingblock pre[class="highlight"] {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  padding: 1em;
  overflow: auto; }
  .listingblock pre[class="highlight"] > code {
    color: #373B41;
    font-family: Consolas, Monaco, "Courier New", Courier, monospace; }
  .listingblock pre[class="highlight"] .hl {
    color: #373B41; }
    .listingblock pre[class="highlight"] .hl.num {
      color: #F96A38; }
    .listingblock pre[class="highlight"] .hl.esc {
      color: #F96A38; }
    .listingblock pre[class="highlight"] .hl.ipl {
      color: #3971ED; }
    .listingblock pre[class="highlight"] .hl.str {
      color: #198844; }
    .listingblock pre[class="highlight"] .hl.ppc {
      color: #A36AC7; }
    .listingblock pre[class="highlight"] .hl.pps {
      color: #3971ED; }
    .listingblock pre[class="highlight"] .hl.com {
      color: #B4B7B4;
      font-style: italic; }
    .listingblock pre[class="highlight"] .hl.slc {
      color: #B4B7B4;
      font-style: italic; }
    .listingblock pre[class="highlight"] .hl.lin {
      color: #969896; }
    .listingblock pre[class="highlight"] .hl.opt {
      color: #373B41; }
    .listingblock pre[class="highlight"] .hl.kwa, .listingblock pre[class="highlight"] .hl.kwb, .listingblock pre[class="highlight"] .hl.kwc, .listingblock pre[class="highlight"] .hl.kwd, .listingblock pre[class="highlight"] .hl.kwe, .listingblock pre[class="highlight"] .hl.kwf {
      font-weight: bold; }
    .listingblock pre[class="highlight"] .hl.kwa {
      color: #CC342B; }
    .listingblock pre[class="highlight"] .hl.kwb {
      color: #FBA922; }
    .listingblock pre[class="highlight"] .hl.kwc {
      color: #3971ED; }
    .listingblock pre[class="highlight"] .hl.kwd {
      color: #A36AC7; }
    .listingblock pre[class="highlight"] .hl.kwde {
      color: #3971ED; }
    .listingblock pre[class="highlight"] .hl.kwf {
      color: #3971ED; }

/* Highlight Theme for Alan */
.listingblock pre[class=highlight][lang=alan] {
  background-color: #2D2D2D;
  border-radius: 4px;
  border: 1px solid #A09F93;
  padding: 1em;
  overflow: auto; }
  .listingblock pre[class=highlight][lang=alan] > code {
    color: #D3D0C8;
    font-family: "Fira Code", Monaco, "Courier New", Courier, monospace;
    font-size: 14px;
    letter-spacing: 1px; }
  .listingblock pre[class=highlight][lang=alan] .hl {
    color: #D3D0C8; }
    .listingblock pre[class=highlight][lang=alan] .hl.num {
      color: #F99157; }
    .listingblock pre[class=highlight][lang=alan] .hl.esc {
      color: #F99157; }
    .listingblock pre[class=highlight][lang=alan] .hl.ipl {
      color: #D27B53; }
    .listingblock pre[class=highlight][lang=alan] .hl.str {
      color: #99CC99; }
    .listingblock pre[class=highlight][lang=alan] .hl.slc {
      color: #A09F93;
      font-style: italic; }
    .listingblock pre[class=highlight][lang=alan] .hl.lin {
      color: #747369; }
    .listingblock pre[class=highlight][lang=alan] .hl.opt {
      color: #D3D0C8; }
    .listingblock pre[class=highlight][lang=alan] .hl.kwa, .listingblock pre[class=highlight][lang=alan] .hl.kwb, .listingblock pre[class=highlight][lang=alan] .hl.kwc, .listingblock pre[class=highlight][lang=alan] .hl.kwd, .listingblock pre[class=highlight][lang=alan] .hl.kwe, .listingblock pre[class=highlight][lang=alan] .hl.kwf {
      font-weight: bold; }
    .listingblock pre[class=highlight][lang=alan] .hl.kwa {
      color: #F2777A; }
    .listingblock pre[class=highlight][lang=alan] .hl.kwb {
      color: #FFCC66; }
    .listingblock pre[class=highlight][lang=alan] .hl.kwc {
      color: #6699CC; }

/*# sourceMappingURL=styles.css.map */
